*{
    margin: 0;
    padding: 0;
    box-shadow: none;
    font-family: monospace;
}
.navbar-brand{
    font-size: 30px;
    font-style: italic;
}
.navbar-nav{
    font-size: 20px;
}
.navbar-nav a:hover{
    background-color: dodgerblue;
    border-radius: 5px;
}
.navbar-nav li{
    margin-right: 10px;
}
.hader-image{
    height: 95vh;
}
.welcome-h1{
    color: #9E5156;
    font-size: 35px;
    text-transform: uppercase;
}
.welcome{
    text-transform: uppercase;
    font-size: 90px;
    font-weight: bold;
    font-style: italic;
    color: #664E38;
    display: block;
}
.carousel-caption{
    margin-bottom: 200px;
}
.col{
    width: 320px;
}
.card-main{
    width:980px;
    margin: auto;
}
.dock{
    font-size: 30px;
    color: black;
}
.uplodefl{
    font-size: 25px;
}
.secend{
    height: 150px;
    
}

 /* rating section  */

.trending{
    font-size: 30px;
    font-weight: bold;
    
}
#bg-image{
    background-image: url("image/twohead.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    border-radius: 5px;
}
footer{
    background-color: rgba(0, 0, 0, 0.466);
}
.ft{
    text-decoration: none;
}






/* Responsive Styles */
@media only screen and (max-width: 900px) {
    .card-main{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        width: 700px;
    }
}
@media only screen and (max-width: 500px) {
    .card-main{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        width: 400px;
        grid-gap:5px;
        
    }
}